<a href="https://colab.research.google.com/github/ferkrum/DS-Notebooks/blob/main/Scraping%20de%20tabela%20da%20Wikipedia%20em%20Python%20e%20BeautifulSoup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarefa: criar um dataframe da tabela de estados brasileiros na Wikipedia:
[lista de estados](https://pt.wikipedia.org/wiki/Lista_de_capitais_do_Brasil_por_%C3%A1rea) do Brasil.

## 1º: Importação de bibliotecas: 
1. "request" para fazer requisições de dados da web.
2. "BeautifulSoup" para fazer o processamento da informação (*parsing*) obtida pelo request.

In [112]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

## 2º: Request + parsing (beautifulSoup)

In [2]:
#obtém o conteúdo da página através do request 
response = requests.get('https://pt.wikipedia.org/wiki/Lista_de_capitais_do_Brasil_por_%C3%A1rea').content

In [ ]:
#debug do que há em response
response

In [3]:
# parsing com BeautifulSoup
soup = BeautifulSoup(response, 'html.parser')

In [ ]:
soup

A partir daqui devemos procurar pelos tags que queremos obter da página procurada.
Usamos a ferramenta "inspect" do navegador para identificar as tags.

**Modelo do dicionario: **
dictCapitaisTabela[posicao] : { 'sede_do_governo' : sede_do_govermo, 'ibge' : ibge, 'uf' : uf, 'area' : area}

In [4]:
capitaisTabela = soup.find("tbody")

In [ ]:
capitaisTabela

In [5]:
linhasTabela = capitaisTabela.find_all("tr")

In [71]:
len(linhasTabela)

28

## Inicializa dicionario final

In [65]:
#inicializa dicionario final 
dictCapitaisTabela = {}

In [74]:
len(linhasTabela)

28

modelo do dicionario --> \\dictCapitaisTabela[posicao] : { "sede" : sede_do_govermo, 'ibge' : ibge, 'uf' : uf, 'area' : area}

In [103]:
#para cada linha da tabela, busca todas celulas
for i in linhasTabela:              #for para percorrer linhas da tabela
  celulasTabela = i.find_all("td")  #busca todos os tags "td" 
  try:                              #usamos try except porque a primeira linha da coluna não contém a tag "td", mas sim "th" e isso gerava um erro no programa
    dictCapitaisTabela[str.strip(celulasTabela[0].text)] = {"sede": str.strip(celulasTabela[1].text), "ibge": str.strip(celulasTabela[2].text), "uf": str.strip(celulasTabela[3].text), "area": str.strip(celulasTabela[4].text).replace(u'\xa0', u' ')}
  except:
    print("")

In [111]:
#debug testando o dicionario
dictCapitaisTabela["1"]["area"]

'34 090,952'

## Criando dataframe e exportando arquivo. csv

In [113]:
dfCapitais = pd.DataFrame.from_dict(dictCapitaisTabela).T

In [115]:
dfCapitais.to_csv("capitais.csv")

In [114]:
dfCapitais

                sede     ibge                   uf        area
1        Porto Velho  1100205             Rondônia  34 090,952
2             Manaus  1302603             Amazonas  11 401,092
3         Rio Branco  1200401                 Acre   8 834,942
4       Campo Grande  5002704   Mato Grosso do Sul   8 082,978
5             Macapá  1600303                Amapá   6 563,849
6           Brasília  5300108     Distrito Federal   5 760,783
7          Boa Vista  1400100              Roraima   5 687,037
8             Cuiabá  5103403          Mato Grosso   3 266,538
9             Palmas  1721000            Tocantins   2 227,444
10         São Paulo  3550308            São Paulo   1 521,110
11          Teresina  2211001                Piauí   1 391,046
12    Rio de Janeiro  3304557       Rio de Janeiro   1 200,329
13             Belém  1501402                 Pará   1 059,466
14           Goiânia  5208707                Goiás     728,841
15  Salvador[nota 1]  2927408                Bahia     693,453
16     Florianópolis  4205407       Santa Catarina     674,844
17          São Luís  2111300             Maranhão     582,974
18            Maceió  2704302              Alagoas     509,320
19      Porto Alegre  4314902    Rio Grande do Sul     495,390
20          Curitiba  4106902               Paraná     434,892
21    Belo Horizonte  3106200         Minas Gerais     331,354
22         Fortaleza  2304400                Ceará     312,353
23            Recife  2611606           Pernambuco     218,843
24       João Pessoa  2507507              Paraíba     210,044
25           Aracaju  2800308              Sergipe     182,163
26             Natal  2408102  Rio Grande do Norte     167,401
27           Vitória  3205309       Espírito Santo      97,123